<%if(locals.user){%>
<form action="/comment/create" method="post">
  <input type="text" name="content" id="content" placeholder="Your Comment" />
  <input type="hidden" name="post" value="<%=post.id%>" />
  <input type="submit" value="Add Comment" />
</form>
<%}%>
<div>
  <ul>
    <%for(comment of post.comments){%>

    <li>
      <%if(locals.user && locals.user.id==comment.user.id){%>
      <small ><a href="/comment/destroy/<%=comment.id%>" style="color: red;">X</a></small>
      <%}%> <%=comment.comment%>
      <small>Created by : <%=comment.user.name%></small>
      <%}%>
    </li>
  </ul>
</div>
