<head>
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <ul class="header-list">
    <% if(locals.user){ %>
    <li><a href="/user/profile"><%=user.name%></a></li>
    <li><a href="/user/sign-out">Sign Out</a></li>
    <%}else{%>
    <li>
      <a href="/user/sign-in">Sign In</a>
    </li>
    <li>
      <a href="/user/sign-up">Sign up</a>
    </li>
    <%}%>
  </ul>
</body>
<script src="/js/clg.js"></script>
